# Environment variables
.env
.env.*
ecosystem.config.cjs

# Dependencies
node_modules/

# Uploads
src/uploads/*
!src/uploads/.gitkeep

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

