* {
  box-sizing: border-box;
}

:root {
  line-height: 1.6;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: 'Magnetik';
  src: url('/assets/fonts/Magnetik-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f2f4f5;
  font-family: 'Magnetik', sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}

html, body {
  overflow-x: hidden;
}